/* estilos de autoevaluacion */

.cards1 {
    margin-top: 40px;

}   

.form_autoevaluacion {
    width: 550px;
    margin-top: 25px;
} 

.form-check-label {
    padding: 10px;
}

























