{% extends "base.html" %}
{% load static %}
{% block estilos %} <link rel="stylesheet" href="{% static 'establecimientos/establecimientos.css' %}"> {% endblock %}
{% block title %} <title> Colegios </title> {% endblock %}

{% block content %}
<div class="container"> 
    <form action="{% url 'buscar_colegios' %}" method="POST">
      {% csrf_token %}
    <div class="form-group">
        <label class="label-biblio">Buscar Colegios</label>
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" name="busqueda" placeholder="Busque su colegio aqui" aria-label="buscar-colegios" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Buscar</button>
      </div>
  </div>

    <div class="form-group">
        {% if error_busqueda %}
             <p class="alert alert-danger">{{ error_busqueda }}</p>
        {% endif %}
        <div class="#"> 
            <label for="#">Resultados de busqueda:</label>
        </div>

        {% for item in resultado %}
          <div class="busqueda" style="padding: 20px; height: 150px; margin-top: 10px;"> 
            <!--  || colegios_clave || mostramos el objeto -->
                <!-- <span> CUE: {{ item.cue }}</span> -->
                  <h2>Nombre:<a href="">{{ item.nombre }}</a></h2>
                  <span>Sector: {{ item.sector|linebreaksbr }}</span><br>        
                  <span>Escuela: {{ item.nro_escuela|linebreaksbr }}</span>               
          </div>
        {% endfor %}
 
     </div>

    </form>
</div>
{% endblock %}



