{% extends "base.html" %}
{% load static %}
{% block estilos %} <link rel="stylesheet" href="{% static 'establecimientos/establecimientos.css' %}"> {% endblock %}
{% block title %} <title> Info Establecimientos </title> {% endblock %}


{% block content %}

<div class="container align-middle text-center contenedor_pag" style="width: 500px; border: 1px solid transparent; padding: 20px; border-radius: 15px; margin-top: 50px; background-color: #0b474d;
color: white;"> 

{% if est1.pk %}       

     <h3> Informacion sobre colegio {{ est1.nombre }} </h3>
     <p> Informacion sobre colegio Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, iure cum? Nihil, perspiciatis consequatur! Minima, laborum? Cum voluptate quasi distinctio quia! Iure ipsa sint nihil fugit, aliquam numquam beatae eveniet!  </p>
     <span> Sector: {{ est1.sector }} </span><br>
     <span> Numero de colegio: {{ est1.nro_escuela }} </span>
     <iframe style="margin: 30px 0;" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2975.417659441547!2d-58.993039846083846!3d-27.45140807695644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1scolegio%20{{ est1.nombre }}%20!5e0!3m2!1ses-419!2sar!4v1601506042528!5m2!1ses-419!2sar" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

{% endif %}

</div>

    
{% endblock %}