!DOCTYPE html>
<!-- Cargamos archivos static con % load static % -->
{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'home/home.css' %}">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
    <header class="navbar navbar-expand-lg fixed-top my-nav justify-content-between align-items-center">   
           <a class="navbar-brand h-10" href="http://127.0.0.1:8000/"> <!-- Retorna al home con el icono de IngresAR -->
                <img class="icono_1" src="{% static 'biblioteca/icons/logo1.svg' %}" alt="error_img">
           </a>
           <ul class="navbar-nav lista_1">
               <li class="nav-item dropdown">
                  <button class="btn btn-secondary dropdown-toggle boton_ing_set" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Ingreso
                  </button>
               <form class="dropdown-menu form_1">
                   <div class="form-group">
                     <label for="exampleDropdownFormEmail2">Direccion de Email</label>
                     <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@ejemplo.com">
                   </div>
                   <div class="form-group">
                     <label for="exampleDropdownFormPassword2">Contraseña</label>
                     <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Contraseña">
                   </div>
                   <div class="form-group">
                     <div class="form-check">
                       <input type="checkbox" class="form-check-input" id="dropdownCheck2">
                       <label class="form-check-label" for="dropdownCheck2">
                         Recuerdame
                       </label>
                     </div>
                   </div>
                   <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
                </form>
               </li>
               <li class="nav-item boton_registro">
                   <button class="btn btn-secondary boton_reg_set">
                       <a href="http://127.0.0.1:8000/registro/">Registro</a>
                   </button>
               </li>
               <li class="nav-item boton_cerrarsesion">
                   <button class="btn btn-secondary boton_cs_set">
                       <a href="#">Cerrar sesion</a>
                   </button>
               </li>
            </ul>  
    </header> 
{% block head %}{% endblock %}


<body>
{% block body %}{% endblock %}    
</body> 
 


<footer class="footer-cont fixed-bottom ">
    <span>
        Contactanos
    </span>
    <div class="social-media">
        <img class="iconos" src="{% static 'biblioteca/icons/facebook.png' %}" alt="">
        <img class="iconos" src="{% static 'biblioteca/icons/gorjeo.png' %}" alt="">
        <img class="iconos" src="{% static 'biblioteca/icons/instagram.png' %}" alt="">
    </div>
</footer>
{% block footer %}{% endblock %} 
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> 
</body> 
</html>







