<!DOCTYPE Html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="styless.css"/>
    </head>

    <body>
        <div class="barra-superior">
            <img class="logo" src="logo.svg">
            <div class="menu">
                <a>Ingreso</a>
                <a>Registro</a>
            </div>
        </div>
        <div class="caja-registro"> 
            <p>Registro</p>
            <form>
                <input type="text" placeholder="Correo" />
                <input type="text" placeholder="Nombre" />
                <input type="text" placeholder="Fecha de Nacimiento" />
                <input type="text" placeholder="Contraseña" />
                <input type="submit" value="Registrarse" />
            </form>
        </div>
        <div class="barra-inferior">
            <a>Contactanos</a>
            <img class="iconos" src="facebook.svg">
            <img class="iconos" src="twitter.svg">
            <img class="iconos" src="instagram.svg">

        </div> 
    </body>
</html>