{% extends "base.html" %}
{% load static %}
{% block estilos %}
<link rel="stylesheet" href="{% static 'autoevaluacion/autoevaluacion.css' %}"> {% endblock %}
{% block title %} <title> Autoevaluacion </title> {% endblock %}


{% block content %}
<!--Definicion de Modal(Cartel de espera al presionar los botones)-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cuando se encuentre listo presione continuar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Continuar</button>
            </div>
        </div>
    </div>
</div>
<!--Tarjetas con botones-->
<div class="container">
    <div class="card-deck justify-content-center cards1" id="tarjeta">
        <div class="card border-danger" style="max-width: 19rem;">
            <img src="{% static 'autoevaluacion/img/matematicas.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLScFFdZNMgutVhN_lirhxpBrVww_JQzO1xsr7WBJSBRg5vMa2A/viewform?usp=sf_link"
                        target="ifrm" style="color: aliceblue"> Autoevaluacion Matemáticas </a>
                </button>
            </div>
        </div>
        <div class="card border-primary" style="max-width: 19rem;">
            <img src="{% static 'autoevaluacion/img/lengua.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfZVfYos00SbS4TIf_qlwX5g3gxTYvDv-zv1_DzGt7lhDcq3A/viewform?usp=sf_link"
                        target="ifrm" style="color: aliceblue"> Autoevaluacion Lengua y Literatura </a>
                </button>
            </div>
        </div>
    </div>
</div>
<br>
<!--el iframe donde se carga el googleforms-->
<iframe width="100%" height="100%" name="ifrm" frameborder="0">Cargando…</iframe>

{% endblock %}